@font-face {
  font-family: 'Baksheesh';
  src: url('../public/fonts/BAKSHEESHRegular.TTF');
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: white;
}

/*
 *
 * BACKGROUND
 *
*/
/*
 * SCENE
*/
#scene {
  width: 100vw;
  height: 100vh;
  touch-action: none;
}

/*
 *
 * USER-INTERFACE
 *
*/
#interface {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: none;
}

.menuIndicator {
  width: 0.55rem;
  height: 1.8rem;
  background-color: rgba(255, 255, 255, 0);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute;
  left: -0.8rem;
  top: 0px;
  transition: all 0.33s ease;
}
/*
 * TEXT
*/
.title {
  margin: 0.5rem;
  /* padding: 0.25rem; */
  color: whitesmoke;
  font-family: 'Baksheesh';
  font-size: 18px;
  cursor: default;
}
/*
 * MODAL
*/
.modal {
  position: relative;
  top: 33%;
  text-align: center;
  background: rgba(0, 0, 0, 0.55);
  border: 1px solid rgba(255, 255, 255, 0.55);
  /* box-shadow: 0 0 80px rgba(0, 0, 0, 0.25); */
  backdrop-filter: blur(25px);
  overflow: hidden;
  pointer-events: auto;
  border-radius: 0;
}

.modal.authentication {
  width: 18rem;
  height: 20rem;
}
@media only screen and (min-width: 768px) {
  .modal.authentication {
    width: 32rem;
    height: 36%;
  }
}

/*
 * WRAPPER
*/
.wrapper.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper.input {
  /* margin: 0.2rem; */
  padding-top: 1.5rem;
}

.wrapper.menuButtons {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 5.5%;
  top: 25%;
}
/*
 * INPUT
*/
input {
  font-family: 'Baksheesh';
  font-size: 15px;
  width: 10rem;
  height: 1.5rem;
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.55);
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  outline-color: rgba(255, 255, 255, 0.1);
}
input::placeholder {
  /* font-weight: bold; */
  /* opacity: 0.5; */
  /* color: red; */
}
/*
 * BUTTON
*/
.button {
  font-family: 'Baksheesh';
  font-size: medium;
  width: 5rem;
  height: 10%;
  background: rgba(255, 255, 255, 0.05);
  color: whitesmoke;
  border: 1px solid rgba(255, 255, 255, 0.55);
  cursor: pointer;
  pointer-events: auto;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
  /* outline-offset: -1px; */
  outline-color: rgba(255, 255, 255, 0.1);
}

.button.toggleAuth {
  width: 6rem;
  height: 5%;
  border-radius: 2px;
  margin: auto;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 0.66s ease all;
}

.button.authentication {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
}

.button.authentication.switch {
  position: relative;
  transition: 0.66s ease all;
  margin-top: 2.25rem;
  border-radius: 2px;
}
@media only screen and (min-width: 768px) {
  .button.authentication.switch {
    margin-top: 3rem;
  }
}

.button.authentication.ok {
  position: relative;
  width: 3rem;
  height: auto;
  margin-top: 2rem;
  border-radius: 6px;
}

.button.croix {
  position: relative;
  width: auto;
  height: auto;
  left: 133px;
  border-radius: 0px;
  border-right: 0;
  border-top: 0;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .button.croix {
    left: 245px;
  }
}

.button.menu {
  width: 8rem;
  height: 2rem;
  margin: 1.25rem 0rem;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 0.33s ease all;
}
/*
 * ~ ~ BUTTON ANIMATION ~ ~
*/
.button:hover {
}
/* TOGGLE AUTH */
.button.toggleAuth:hover {
  /* border: none; */
  border: 1px solid rgba(255, 255, 255, 0.85);
  color: white;
}
.button.toggleAuth:hover .line-1 {
  -webkit-animation: move1 3000ms infinite;
  animation: move1 3000ms infinite;
}
.button.toggleAuth:hover .line-2 {
  -webkit-animation: move2 3000ms infinite;
  animation: move2 3000ms infinite;
}
.button.toggleAuth:hover .line-3 {
  -webkit-animation: move3 3000ms infinite;
  animation: move3 3000ms infinite;
}
.button.toggleAuth:hover .line-4 {
  -webkit-animation: move4 3000ms infinite;
  animation: move4 3000ms infinite;
}
.toggleAuth .line-1 {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
}
.toggleAuth .line-2 {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: white;
  left: 0;
  top: 0;
}
.toggleAuth .line-3 {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  background-color: white;
  right: 0;
  top: 0;
}
.toggleAuth .line-4 {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  background-color: white;
  right: 0;
  bottom: 0;
}
@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
/* AUTH SWITCH */
.button.authentication.switch:hover {
  background: transparent;
  border: none;
  color: white;
}
.button.authentication.switch:before,
.button.authentication.switch:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width: 0;
  background: #ffffff;
  transition: 555ms ease all;
}
.button.authentication.switch:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button.authentication.switch:hover:before,
.button.authentication.switch:hover:after {
  width: 100%;
  transition: 1111ms ease all;
}
/* CROIX */
.button.croix:hover {
  background: transparent;
  transition: 555ms ease all;
  color: white;
}
/* OK */
.button.authentication.ok:after {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.33s ease;
  z-index: -1;
  border-radius: 5px;
  color: white;
}
.button.authentication.ok:hover:after {
  left: 0;
  width: 100%;
}
.button.authentication.ok:active {
  top: 2px;
}
/* MENU */
.button.menu:hover {
  border: 1px solid rgba(255, 255, 255, 0.85);
  color: white;
  box-shadow: inset 15px 0px 10px rgba(255, 255, 255, 0.85),
    0 0 0px rgba(255, 255, 255, 0.2);
  padding-left: 25px;
}
.button.menu:hover .menuIndicator {
  left: -0.9rem;
  background-color: rgba(255, 255, 255, 0.8);
}
