#polygo {
  font-family: 'Baksheesh';
  position: fixed;
  top: 10%;
  left: 5.5%;
  margin: 0;
  font-size: 35px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.95);
  /* -webkit-text-stroke: 0.25px white; */
  pointer-events: auto;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 0 4px black;
  outline: none;
}
@media only screen and (min-width: 768px) {
  #polygo {
    font-size: 55px;
  }
}

#version {
  font-family: 'Baksheesh';
  position: fixed;
  bottom: 0.55%;
  right: 0.55%;
  margin: 0;
  font-weight: 500;
  font-size: 5px;
  color: rgba(0, 0, 0, 0.85);
  pointer-events: auto;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
@media only screen and (min-width: 768px) {
  #version {
    font-size: 10px;
  }
}

/* 
 * ~ ~ ANIMATION ~ ~
*/
#polygo:hover {
  color: rgba(0, 0, 0, 0.85);
  text-shadow: 0px 0px 3px white;
  transition: 555ms all ease;
}
